<div class="wrapper">
	<div class="account">
		<div class="row account-info">
			<img class="account-image" src="images/avatar.jpg"></img>
			<div class="account-details">
				<h2>@alexanderbeletsky</h2>
				<p class="desc">making Likeastore, learning, dreaming.</p>
			</div>
			<div class="account-buttons">
				<button class="btn btn-lg btn-border-green">Share Account</button>
				<button class="btn btn-lg btn-border-purple">Invite Friend</button>
			</div>
		</div>
		<div class="row">
			<div class="account-stats">
				<div class="col-xs-4 text-center">
					<strong>11</strong> collections
				</div>
				<div class="col-xs-4 text-center">
					<strong>128</strong> following
				</div>
				<div class="col-xs-4 text-center">
					<strong>74</strong> followers
				</div>
			</div>
		</div>
		<div class="row account-content"></div>
	</div>
</div>
