<div class="wrapper">
	<div class="favorites">
		<div class="header">
			<h2>All favorites</h2>
		</div>

		<div class="favorites-container">
			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" avatar-load="" src="https://pbs.twimg.com/profile_images/469397708986269696/iUrYEOpJ_normal.png">
							<a href="#">@newsycombinator</a>
							<p>
								Bill Gates answers questions about Java during a deposition (1998) [video] https://t.co/9R2xU1LOYS
							</p>
						</div>
						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>

				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" avatar-load="" src="https://pbs.twimg.com/profile_images/378800000577754347/49da377064bb78e377dcdca19793b6b1_normal.png">
							<a href="#">@thoughtbot</a>
							<p>
								Intro to ClojureScript https://t.co/ft0mkllf9k
							</p>
						</div>

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" src="https://pbs.twimg.com/profile_images/1742005859/my_img2_normal.jpg">
							<a href="#">@TjRus</a>
							<p>
								The O'Reilly Fluent Conference - must-attend annual gathering of web professionals. http://t.co/zgVgj7lctb
							</p>
						</div>

						<time>October 21, 2014</time>
						<i class="icon icon-youtube youtube"></i>
					</div>
				</div>
			</div>

			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" src="https://pbs.twimg.com/profile_images/378800000618568039/f7625525e8e8063c89c31379828c7f40_normal.jpeg">
							<a href="#">@stefvdham</a>
							<p>
								The Hybrid theme for Vim and iTerm2 is simply awesome. https://github.com/w0ng/vim-hybrid
							</p>
						</div>

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="preview" src="https://i.ytimg.com/vi/6uo7GHgLoQM/hqdefault.jpg"></img>
						</div>

						<time>October 21, 2014</time>
						<i class="icon icon-youtube youtube"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" src="https://pbs.twimg.com/profile_images/2484930220/6hspu2r9djokey3pau9y_normal.jpeg">
							<a href="#">@Philmod</a>
							<p>
								Debugging Node.js - How we found memory leaks and slow/infinite loops http://t.co/3HtedgaE2Z #nodejs #debugging #mdb @storify
							</p>
						</div>

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
			</div>

			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" src="https://pbs.twimg.com/profile_images/1824002576/pg-railsconf_normal.jpg">
							<a href="#">@paulg</a>
							<p>
								Why Instagram Worked: http://t.co/XjoMtizHWB
							</p>
						</div>

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" src="https://www.gravatar.com/avatar/b3e04a46e85ad3e165d66f5d927eb609?d=mm">
							<a href="#">@jeresig</a>
							<p>
								An ORM, like Mongoose, for Elasticsearch.
							</p>
						</div>
						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="preview" src="http://scontent-a.cdninstagram.com/hphotos-xap1/t51.2885-15/10543038_634010920049881_1076416233_n.jpg">
						</div>
						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
