
.icon-collections:before { content: '\e800'; } /* '' */
.icon-favorites:before { content: '\e801'; } /* '' */
.icon-account:before { content: '\e802'; } /* '' */
.icon-topics:before { content: '\e803'; } /* '' */
.icon-feed:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-signout:before { content: '\e806'; } /* '' */
.icon-connections:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-link-ext:before { content: '\e80a'; } /* '' */
.icon-comment-empty:before { content: '\e80b'; } /* '' */