<div class="wrapper">
	<div class="collections">
		<div class="header">
			<h2>Popular collections</h2>
		</div>

		<div class="collections-container">
			<div class="collections-row row">
				<div class="collection-container col-md-4">
					<div class="collection">
						<div class="preview" style="background-image: url(http://tedpatrick.files.wordpress.com/2013/06/build.png)">
							<div class="meta">
								<h3>Javascript</h3>
								<div class="curator">
									<img class="avatar" src="https://graph.facebook.com/1571840893/picture">
									<a href="#">@sergey.homyuk</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="collection-container col-md-4">
					<div class="collection">
						<div class="preview" style="background-image: url(http://37.media.tumblr.com/3c60db0f25d9dc9fcb55724c2784c90d/tumblr_n62d0qus6O1rui49ao1_1280.jpg)">
							<div class="meta">
								<h3>Artsy</h3>
								<div class="curator">
									<img class="avatar" src="https://gravatar.com/avatar/8d5c82cf34d0474af257ba81327f3f33?d=mm">
									<a href="#">@summa1910</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="collection-container col-md-4">
					<div class="collection">
						<div class="preview" style="background-image: url(http://scontent-a.cdninstagram.com/hphotos-xap1/t51.2885-15/10454181_1461036024135454_956186108_n.jpg)">
							<div class="meta">
								<h3>Tech, Startups, and Social Media</h3>
								<div class="curator">
									<img class="avatar" src="https://gravatar.com/avatar/cb2453fd3ca7ba35cdd219b103359e47?d=mm">
									<a href="#">@dain</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="collections-row row">
				<div class="collection-container col-md-4">
					<div class="collection">
						<div class="preview" style="background-image: url(https://i.ytimg.com/vi/jVzymluqmg4/hqdefault.jpg)">
							<div class="meta">
								<h3>AngularJS</h3>
								<div class="curator">
									<img class="avatar" src="https://graph.facebook.com/528297486/picture">
									<a href="#">@valery.sntx</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="collection-container col-md-4">
					<div class="collection">
						<div class="preview" style="background-image: url(https://m1.behance.net/rendition/projects/15920995/404/0b0f9fc0692ee1a080dd0cd74d963658.png)">
							<div class="meta">
								<h3>UI Kits</h3>
								<div class="curator">
									<img class="avatar" src="https://gravatar.com/avatar/8d5c82cf34d0474af257ba81327f3f33?d=mm">
									<a href="#">@ironman</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
