<div class="wrapper">
	<div class="connections">
		<div class="row header">
			<h2>Connections</h2>
			<p class="desc">
				Please connect to social network, all your favorites with be synchronized.
			</p>
		</div>
		<div class="connections-container">

			<div class="row">
				<div class="col-md-6 connections">
					<button class="btn btn-lg btn-border-green btn-col connection">
						<i class="icon-facebook"></i> Facebook
					</button>
				</div>
				<div class="col-md-6 connections">
					<button class="btn btn-lg btn-green btn-col connection">
						<i class="icon-twitter"></i> Twitter
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 connections">
					<button class="btn btn-lg btn-border-green btn-col connection">
						<i class="icon-vimeo"></i> Vimeo
					</button>
				</div>
				<div class="col-md-6 connections">
					<button class="btn btn-lg btn-green btn-col connection">
						<i class="icon-youtube"></i> Youtube
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 connections">
					<button class="btn btn-lg btn-green btn-col connection">
						<i class="icon-github"></i> Github
					</button>
				</div>
				<div class="col-md-6 connections">
					<button class="btn btn-lg btn-border-green btn-col connection">
						<i class="icon-stackoverflow"></i> Stackoverflow
					</button>
				</div>
			</div>

		</div>
	</div>
</div>
