<div class="wrapper">
	<div class="favorites">
		<div class="header">
		</div>

		<div class="favorites-container">
			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" avatar-load="" src="https://pbs.twimg.com/profile_images/469397708986269696/iUrYEOpJ_normal.png">
							<a href="#">@newsycombinator</a>
							<p>
								Bill Gates answers questions about Java during a deposition (1998) [video] https://t.co/9R2xU1LOYS
							</p>
						</div>
						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>

				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" avatar-load="" src="https://pbs.twimg.com/profile_images/378800000577754347/49da377064bb78e377dcdca19793b6b1_normal.png">
							<a href="#">@thoughtbot</a>
							<p>
								Intro to ClojureScript https://t.co/ft0mkllf9k
							</p>
						</div>

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<div class="desc">
							<img class="avatar" src="https://pbs.twimg.com/profile_images/1742005859/my_img2_normal.jpg">
							<a href="#">@TjRus</a>
							<p>
								The O'Reilly Fluent Conference - must-attend annual gathering of web professionals. http://t.co/zgVgj7lctb
							</p>
						</div>

						<time>October 21, 2014</time>
						<i class="icon icon-youtube youtube"></i>
					</div>
				</div>
			</div>

			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-youtube youtube"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
			</div>

			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
