<div class="wrapper">
	<div class="favorites">
		<div class="header">
		</div>

		<div class="favorites-container">
			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-youtube youtube"></i>
					</div>
				</div>
			</div>

			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-youtube youtube"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
			</div>

			<div class="favorite-row row">
				<div class="favorite-container col-md-4">
					<div class="favorite">
						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 23, 2014</time>
						<i class="icon icon-twitter twitter"></i>
					</div>
				</div>
				<div class="favorite-container col-md-4">
					<div class="favorite">

						<time>October 21, 2014</time>
						<i class="icon icon-github github"></i>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
