<div class="wrapper">
	<div class="feed">
		<div class="feed-element">
			<div class="feed-element-content">
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Startup School Silicon Valley 2014 Live Stream</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row contents">
					<div class="col-md-6">
						<p class="feed-element-text">
							Last week, news spread that some 200,000 Snapchat photos had leaked after a third-party app (used to save people’s snaps) was hacked. It was referred to as the Snappening. Snapchat was quick to respond to the situation by
						</p>
					</div>
					<div class="col-md-6">
						<p class="feed-element-text">
							 saying that the photos had been stolen from a third-party application, but that Snapchat’s servers were never compromised. Turns out, Snapsaved.com is stepping forward and taking responsibility for the leak.
						</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">5 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">2 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">startups collection</button>
						<button class="btn btn-purple btn-xs">startups</button>
						<button class="btn btn-purple btn-xs">marketing</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Why I think Node.JS is a terrible platform</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p class="feed-element-text">
							Node.js is one of the worst things to happen to the software industry in recent times, a whole generation of programmers are being taught the worst of all ways of doing concurrency, in a
						</p>
					</div>
					<div class="col-md-6">
						<p class="feed-element-text">
							system that doesn't scale either in performance or project size and with one of the languages most plagued by pitfalls ever created.JavaScript was already painful enough in the browser, why
						</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">5 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">2 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">think javascript</button>
						<button class="btn btn-purple btn-xs">nodejs</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Mothership process</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<iframe src="//player.vimeo.com/video/109013667" width="830" height="446" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/109013667">Mothership process</a> from <a href="http://vimeo.com/twistedpoly">Nejc Polovsak</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">tutorials</button>
						<button class="btn btn-purple btn-xs">video</button>
						<button class="btn btn-purple btn-xs">vimeo</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">How to start a startup without ruining your life</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div clas="image">
						<img src="http://primg.city/query-resize?url=https%3A%2F%2Fd262ilb51hltx0.cloudfront.net%2Fmax%2F2000%2F1*mGPPDb_PwRmfMiNmCCnEkA.png&width=816&height=204"></img>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">5 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">2 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">startups collection</button>
						<button class="btn btn-purple btn-xs">startups</button>
						<button class="btn btn-purple btn-xs">marketing</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Inside The Spotify – Echo Nest Music Skunkworks</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="feed-element-text">
							Truffle Pig is just one of the new musical inventions dreamed up at the sonic skunkworks born from Spotify’s $100 million acquisition of The Echo Nest. Deep inside Spotify’s New York headquarters, the team gave me a peek how the combined company plans to nail recommendations, hook other apps up with legal music, and meld human DJs with algorithms to surface the best songs from…
						</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">5 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">2 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">ideas</button>
						<button class="btn btn-purple btn-xs">startups</button>
						<button class="btn btn-purple btn-xs">howto</button>
						<button class="btn btn-purple btn-xs">spotify</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">al3x/sovereign</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="feed-element-text">
							A set of Ansible playbooks to build and maintain your own private cloud: email, calendar, contacts, file sync, IRC bouncer, VPN, and more.
						</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-purple btn-xs">github</button>
						<button class="btn btn-purple btn-xs">php</button>
						<button class="btn btn-purple btn-xs">python</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Danny Macaskill: The Ridge</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<iframe width="830" height="466" src="//www.youtube.com/embed/xQ_IQS3VKjA" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">awesome videos</button>
						<button class="btn btn-purple btn-xs">video</button>
						<button class="btn btn-purple btn-xs">youtube</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Scared Cat</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="preview" src="https://d13yacurqjgara.cloudfront.net/users/166613/screenshots/1744654/catscared_dribbble.gif"></img>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">tutorials</button>
						<button class="btn btn-purple btn-xs">image</button>
						<button class="btn btn-purple btn-xs">dribbble</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Beautiful Chemical Reactions</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<iframe src="//player.vimeo.com/video/107976057?title=0&amp;portrait=0&amp;color=a4e549" width="830" height="467" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/107976057">Beautiful Chemical Reactions</a> from <a href="http://vimeo.com/l2molecule">L2 Molecule</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">awesome videos</button>
						<button class="btn btn-purple btn-xs">video</button>
						<button class="btn btn-purple btn-xs">youtube</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">t4t5/sweetalert</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="feed-element-text">
							A beautiful replacement for JavaScript's "alert"
						</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-purple btn-xs">github</button>
						<button class="btn btn-purple btn-xs">php</button>
						<button class="btn btn-purple btn-xs">python</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<a href="#" target="_blank">
					<h1 class="feed-element-title">jjvcks</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img class="preview" src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/891504_813872298680746_1371577034_n.jpg"></img>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">7 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">5 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-green btn-xs">instagram</button>
						<button class="btn btn-purple btn-xs">phography</button>
					</div>
				</div>
			</div>
		</div>

		<div class="feed-element">
			<div class="feed-element-content">
				<div class="collections"></div>
				<a href="#" target="_blank">
					<h1 class="feed-element-title">Newsly Hack Is Tinder For News Articles</h1>
				</a>
				<div class="row info">
					<div class="col-xs-12">
						<span class="date">Added 10/17/2014</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="feed-element-text">
							Tinder’s interface for quickly filtering people you might like to date from those you definitely don’t is being applied to all sorts of other sorting tasks. We’ve had multiple Tinders for shopping, for instance. And here at the Disrupt Europe 2014 hackathon in London we’ve just seen a Tinder for news stories, called Newsly, presented on stage.
						</p>
					</div>
				</div>
				<div class="row buttons">
					<button class="feed-button">
						<i class="icon-comment-empty"></i>
						<span class="feed-button-text">1 comments</span>
					</button>
					<button class="feed-button">
						<i class="icon-star-empty"></i>
						<span class="feed-button-text">1 stars</span>
					</button>
					<button class="feed-button">
						<i class="icon-connections"></i>
						<span class="feed-button-text">Add to</span>
					</button>
					<button class="feed-button">
						<i class="icon-link-ext"></i>
						<span class="feed-button-text">Share</span>
					</button>
				</div>
				<div class="row collections">
					<div class="col-xs-12">
						<button class="btn btn-purple btn-xs">hackernews</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
