<div class="wrapper">
	<div class="topics">
		<div class="row header">
			<h2>Topics</h2>
			<p class="desc">
				Pickup everything which is more relevant to you, we will form the feed from favorites on this topics.
			</p>
		</div>
		<div class="interests-container">
			<div class="row">
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-green btn-col">Web programming</button>
				</div>
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-grey btn-col">Startups</button>
				</div>
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-grey btn-col">Design</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-grey btn-col">Clojure</button>
				</div>
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-green btn-col">Node.js</button>
				</div>
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-green btn-col">.NET</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-green btn-col">Social Media Marketing</button>
				</div>
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-grey btn-col selected">Analytics</button>
				</div>
				<div class="col-md-4 topic">
					<button class="btn btn-lg btn-grey btn-col">HTML</button>
				</div>
			</div>
		</div>
	</div>
</div>
