.btn {
	border-radius: 0;
}

.btn-xlg {
	padding: 20px 28px;
	font-size: 1.3em;
}

.btn-col {
	width: 100%;
}

.btn-green {
	color: #fff;
	background-color: #1BBC9B;
}

.btn-green:hover {
	color: #fff;
}

.btn-border-green {
	background-color: #fff;
	border: 2px solid #1BBC9B;
	color: #1BBC9B;
}

.btn-border-green:hover {
	color: #1BBC9B;
}

.btn-purple {
	color: #fff;
	background-color: #674172;
}

.btn-purple:hover {
	color: #fff;
}

.btn-border-purple {
	background-color: #fff;
	border: 2px solid #674172;
	color: #674172;
}

.btn-border-purple:hover {
	color: #674172;
}

.btn-red {
	color: #fff;
	background-color: #F64747;
}

.btn-red:hover {
	color: #fff;
}

.btn-grey {
	color: #fff;
	background-color: #BDC3C7;
}

.btn-grey:hover {
	color: #fff;
}
