.btn {
	border-radius: 0;
}

.btn-xlg {
	padding: 20px 28px;
	font-size: 1.3em;
}

.btn-col {
	width: 100%;
}

.btn-green {
	@include button-variant(#fff, #1BBC9B, #1BBC9B);
}

.btn-border-green {
	border: 2px solid #1BBC9B;
	@include button-variant(#1BBC9B, #fff, #1BBC9B);
}

.btn-border-green:hover {
	background-color: #fff;
	color: #1BBC9B;
}

.btn-purple {
	@include button-variant(#fff, #674172, #674172);
}

.btn-border-purple {
	border: 2px solid #1BBC9B;
	@include button-variant(#674172, #fff, #674172);
}

.btn-border-purple:hover {
	background-color: #fff;
	color: #674172;
}

.btn-red {
	@include button-variant(#fff, #F64747, #F64747);
}

.btn-border-red {
	border: 2px solid #F64747;
	@include button-variant(#F64747, #fff, #F64747);
}

.btn-border-red:hover {
	background-color: #fff;
	color: #F64747;
}

.btn-grey {
	@include button-variant(#fff, #BDC3C7, #BDC3C7);
}

.btn-border-grey {
	border: 2px solid #1BBC9B;
	@include button-variant(#BDC3C7, #fff, #BDC3C7);
}

.btn-border-grey:hover {
	background-color: #fff;
	color: #BDC3C7;
}
