.connections {
	.header {
		padding-bottom: 20px;
	}

	.connections-container {
		padding: 20px 0;

		div.row {
			margin-top: 12px;
		}

		button.selected {
			background-color: #BDC3C7;
		}

		.connection {
			padding: 12px 0px;
			font-size: 1.1em;
		}
	}
}
