.favorites {
	.header {
		padding: 10px 0px;
	}

	.favorites-container {
		.favorite-row {
			margin-bottom: 30px;
		}

		.favorite {
			width: 308px;
			height: 280px;
			border: 1px solid $light-border-color;
			color: lighten($primary-color, 30%);

			.icon {
				display: inline-block;
				position: absolute;
				bottom: 8px;
				right: 35px;
				font-size: 1.1em;
			}

			img.avatar {
				border-radius: 50%;
			}

			img.preview {
				width: 100%;
			}

			.avatar {
				position: absolute;
				top: 15px;
				left: 30px;
				width: 50px;
				height: 50px;
			}

			.desc {
				padding: 10px;
				height: 230px;
				overflow: hidden;
			}

			a {
				padding-left: 76px;
				color: lighten($primary-color, 10%);
				font-weight: 700;
				font-size: 0.9em;
			}

			p {
				font-size: 0.85em;
				width: 280px;
				line-height: 21px;
				font-weight: 300;
				padding-left: 76px;
				padding-top: 12px;
				padding-right: 12px;
			}

			time {
				position: absolute;
				bottom: 15px;
				left: 30px;
				font-size: 0.75em;
				font-weight: 700;
			}
		}
	}
}
