.content {
	.feed {
		padding: 0 100px;

		a {
			text-decoration: none;
		}

		.feed-element {
			padding-bottom: 40px;
			border-bottom: 1px solid $light-border-color;
			margin-bottom: 80px;
		}

		.feed-element-content a {
			color: $primary-color;
		}

		.feed-element-text {
			color: lighten($primary-color, 5%);
		}
	}
}
